.dash-background{
    background-color: #e3e3e3;
    padding-bottom: 30px;
    overflow: hidden;
}

.welcome-card{
    padding-left: 20%;
    padding-top: 5vh;
    width: 70vw;
}

.right-adjust{
    padding-left: 20%;
    padding-top: 5vh;
}
.pending-card{
    position: relative;
    width: 70vw;
}

.filter{
    position: relative;
    width: 10.1vw;
    left: 58vw;
}

.refresh{
    position: relative; 
    left: 56vw;
    top: -3vw;
}

.rows{
    position: relative;
}