.verifycard{
    position:relative;
    left: 14vw;
    top: 35px;
    width: 70vw;
    height: 1310px;
}
.backgroundDash{
    height: 1470px;
    background: rgb(219,17,17);
    background: linear-gradient(0deg, rgba(219,17,17,1) 0%, rgba(177,31,31,1) 24%, rgba(102,7,152,1) 49%, rgba(0,125,255,1) 100%);
    overflow-x: hidden;

}

.p{
    font-size: 25px;
    position: relative;
    left: 20px;
    bottom:5px
}

.text{
    position: relative;
    left: 760px;
    width: 200px;
}