.background {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  background-color: #fff;;
  height: 91.8vh;
}

.card {
  width: 400px;
  height: 430px;
  
}

.error {
  color: #fc0303;
  font-size: 0.75em;
  display: relative;
}


