.verifycard{
    position:relative;
    left: 112px;
    top: 35px; 
    width: 70vw;
    height: 1310px;
    
}
.backgroundDash{
    height: 1470px;
    background-color: #e3e3e3;
    overflow-x: hidden;

}

.p{
    font-size: 25px;
    position: relative;
    left: 20px;
    bottom:5px
}

.text{
    position: relative;
    left: 75%;
    width: 200px;
}

/*
.modal{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    left: 50px;
    width: 400px;
    height: 400px;
    border-color: #000000;
    border-width: 2px;
}
*/