.dash-background{
    background-color: #e3e3e3;
    padding-bottom: 30px;
    overflow: hidden;
}

.welcome-card{
    padding-left: 20%;
    padding-top: 5vh;
    width: 70vw;
}

.right-adjust{
    padding-left: 20%;
    padding-top: 5vh;
}
.pending-card{
    position: relative;
    width: 70vw;
}
